@*@model ProductStockMgr.Models.Product*@


@{
    ViewData["Title"] = "Products List";
}

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-8 text-end">
            Product &nbsp;&nbsp;     <input id="txtProduct" type="text" /> &nbsp; &nbsp;
            Quantity &nbsp;&nbsp;     <input id="txtQuantity" type="number" min="1" /> &nbsp; &nbsp;
            <a class="btn btn-primary" id="btnAddNewProduct">
                <i class="bi bi-plus-circle"></i>&nbsp;Add New Product
            </a>
        </div>
    </div>
    <div class="row pt-4">

        <div class="col-12 text-end">
            Search Product &nbsp;&nbsp;     <input id="txtProductName" type="text" />&nbsp; &nbsp;
            @* <a asp-controller="Home" asp-action="CreateProduct" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>Create New Product
                </a>*@
        </div>
    </div>

</div>

<table class="table table-bordered table-striped table-hover" id="tblProduct" style="width:100%">
        <tr class="table-warning">
            <th scope="col" style="width: 50%">Product Name</th>
            <th scope="col" style="width: 50%">Quantity</th>
            <th scope="col"></th>
        </tr>
</table>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script type="text/javascript">

      //$(document).ready(function () {

              $(function () {
                  GetProduct();
                  $("#txtProductName").keyup(function () {
                      GetProduct();
                  });
              });

              function GetProduct() {
                  $.ajax({
                      type: "POST",
                      url: "/Home/SearchProduct",
                      data: JSON.stringify($.trim($("#txtProductName").val())),
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: function (product) {
                          var table = $("#tblProduct");
                          table.find("tr:not(:first)").remove();
                          $.each(product, function (i, product) {
                              var table = $("#tblProduct");
                              var row = table[0].insertRow(-1);
                              $(row).append("<td />");''
                              $(row).find("td").eq(0).html(product.name);
                              $(row).append("<td />");
                              $(row).find("td").eq(1).html(product.qty);
                              $(row).append("<td />");
                              $(row).find("td").eq(2).html(

                                    "<a onclick='DeleteProduct(" + product.id + ")' class='btn btn-primary mx-2'> <i class='bi bi-trash-fill'></i></a>"
                              );
                          });
                      }
                  });
              }



              $("#btnAddNewProduct").click(function () {
                  if ($.trim($("#txtProduct").val()) =="" || $.trim($("#txtQuantity").val()) == "")
                  {
                       toastr.error('Please enter Product Name & Quantity !');
                  }
                  else
                  {
                      $.ajax({
                          type: "POST",
                          url: "/Home/checkIfProductExists",
                          data: JSON.stringify($.trim($("#txtProduct").val())),
                          contentType: "application/json; charset=utf-8",
                          dataType: "json",
                          success: function (product) {
                              if (product!="")
                              {
                                  toastr.error('Product already exists !');
                              }
                              else
                              {
                                  var value = $.trim($("#txtProduct").val());
                                  $.ajax({
                                      type: "POST",
                                      url: "/Home/AddNewProduct",
                                      data: JSON.stringify(value + "~" + $.trim($("#txtQuantity").val())),
                                      contentType: "application/json; charset=utf-8",
                                      dataType: "json",
                                      success: function (product) {
                                          $("#txtProduct").val("");
                                          $("#txtQuantity").val("");
                                          toastr.success('Product added successfully !');
                                          GetProduct();
                                      }
                                  });
                              }
                          }
                      });
                  }
              });

              function DeleteProduct(value) {
                  $.ajax({
                      type: "POST",
                      url: "/Home/DeleteProd",
                      data: JSON.stringify(value),
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: function (product) {
                               toastr.success('Product deleted successfully !');
                                GetProduct();
                      }
                  });
              }

    //});


</script>

